<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".helpers.ApplicationHelper"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMedi"
        tools:targetApi="31">
        <activity
            android:name=".BookingsActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".SingleReviewActivity"
            android:exported="false" />
        <activity
            android:name=".AllReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AddReviewActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorInformationActivity"
            android:label="Doctor Information Activity">

            <!-- Optional intent filters if you want to specify how this activity can be launched -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".entities.NotificationReceiver" />

    </application>

</manifest>